Repository pkodzis/hcpctl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets
  language: system
  pass_filenames: false

cargo-upgrade:
  name: cargo upgrade
  entry: bash -c 'cargo upgrade --incompatible 2>/dev/null || true'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: cargo test
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: logs command
  src/cli/mod.rs
  src/hcp/logs/commands.rs
  src/hcp/logs/mod.rs
  src/hcp/mod.rs
  src/hcp/runs/commands.rs
  src/hcp/runs/mod.rs
  src/lib.rs
  src/main.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

feat: watch ws command to live observe ongoing ws runs
  src/cli/mod.rs
  src/hcp/logs/commands.rs
  src/hcp/mod.rs
  src/hcp/oauth_clients/commands.rs
  src/hcp/organizations/commands.rs
  src/hcp/projects/commands.rs
  src/hcp/runs/commands.rs
  src/hcp/runs/log_utils.rs
  src/hcp/runs/mod.rs
  src/hcp/watch/commands.rs
  src/hcp/watch/mod.rs
  src/hcp/workspaces/commands.rs
  src/hcp/workspaces/mod.rs
  src/hcp/workspaces/resolver.rs
  src/lib.rs
  src/main.rs
  src/ui/spinner.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

fix: install.sh get_latest_version failing on Mac
  scripts/install.sh
Due: none

fix release.yml
  .github/workflows/release.yml
Due: none

feat: listing teams; abstracted pagination
  .github/copilot-instructions.md
  src/cli/mod.rs
  src/config.rs
  src/hcp/client.rs
  src/hcp/mod.rs
  src/hcp/oauth_clients/api.rs
  src/hcp/oauth_clients/models.rs
  src/hcp/org_memberships/api.rs
  src/hcp/org_memberships/commands.rs
  src/hcp/org_memberships/mod.rs
  src/hcp/org_memberships/models.rs
  src/hcp/projects/api.rs
  src/hcp/projects/models.rs
  src/hcp/teams/api.rs
  src/hcp/teams/commands.rs
  src/hcp/teams/mod.rs
  src/hcp/teams/models.rs
  src/hcp/traits.rs
  src/hcp/workspaces/api.rs
  src/hcp/workspaces/models.rs
  src/lib.rs
  src/main.rs
  src/output/mod.rs
  src/output/org_memberships.rs
  src/output/teams.rs
  src/update/mod.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

fix: split cli definitions
  src/cli/common.rs
  src/cli/delete.rs
  src/cli/enums.rs
  src/cli/get.rs
  src/cli/invite.rs
  src/cli/logs.rs
  src/cli/mod.rs
  src/cli/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

fix: update command
  src/cli/mod.rs
  src/lib.rs
  src/main.rs
  src/update/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

fix: install scripts
  scripts/install.ps1
  scripts/install.sh
Due: none

fix: install scripts (#23)
  scripts/install.ps1
  scripts/install.sh
Due: none

feat: purge state
  Cargo.toml
  src/cli/mod.rs
  src/cli/purge.rs
  src/hcp/mod.rs
  src/hcp/state/api.rs
  src/hcp/state/commands.rs
  src/hcp/state/mod.rs
  src/hcp/state/models.rs
  src/hcp/workspaces/api.rs
  src/hcp/workspaces/mod.rs
  src/lib.rs
  src/main.rs
  src/ui/mod.rs
  src/ui/spinner.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

Dev (#24)
  Cargo.toml
  src/cli/mod.rs
  src/cli/purge.rs
  src/hcp/mod.rs
  src/hcp/state/api.rs
  src/hcp/state/commands.rs
  src/hcp/state/mod.rs
  src/hcp/state/models.rs
  src/hcp/workspaces/api.rs
  src/hcp/workspaces/mod.rs
  src/lib.rs
  src/main.rs
  src/ui/mod.rs
  src/ui/spinner.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

chore: readme
  README.md
Due: none

chore: readme (#26)
  README.md
Due: none

feat: Cancel/discard pending runs blocking a workspace
  Cargo.toml
  README.md
  src/cli/mod.rs
  src/cli/purge.rs
  src/hcp/mod.rs
  src/hcp/runs/api.rs
  src/hcp/runs/commands.rs
  src/hcp/runs/mod.rs
  src/lib.rs
  src/main.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

feat: Cancel/discard pending runs blocking a workspace (#27)
  Cargo.toml
  README.md
  src/cli/mod.rs
  src/cli/purge.rs
  src/hcp/mod.rs
  src/hcp/runs/api.rs
  src/hcp/runs/commands.rs
  src/hcp/runs/mod.rs
  src/lib.rs
  src/main.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

chore: added command reference doc
  .pre-commit-config.yaml
  Cargo.toml
  README.md
  docs/CommandLineHelp.md
  src/cli/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

chore: added command reference doc (#29)
  .pre-commit-config.yaml
  Cargo.toml
  README.md
  docs/CommandLineHelp.md
  src/cli/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

chore: html doc
  .pre-commit-config.yaml
  README.md
  docs/CommandLineHelp.md
Due: none

chore: html doc (#30)
  .pre-commit-config.yaml
  README.md
  docs/CommandLineHelp.md
Due: none

chore: html doc
  netlify.toml
Due: cargo-clippy, cargo-check, cargo-upgrade, cargo-test

chore: html doc (#33)
  netlify.toml
Due: cargo-clippy, cargo-check, cargo-upgrade, cargo-test

chore: html doc
  docs/book.toml
  docs/src/_redirects
  docs/src/robots.txt
  docs/src/sitemap.xml
  docs/theme/head.hbs
  netlify.toml
Due: cargo-clippy, cargo-check, cargo-upgrade, cargo-test

chore: html doc (#34)
  docs/book.toml
  docs/src/_redirects
  docs/src/robots.txt
  docs/src/sitemap.xml
  docs/theme/head.hbs
  netlify.toml
Due: cargo-clippy, cargo-check, cargo-upgrade, cargo-test

chore: html doc
  README.md
Due: none

chore: html doc (#35)
  README.md
Due: none

feat: workspace configuration download
  Cargo.toml
  docs/src/CommandLineHelp.md
  src/cli/download.rs
  src/cli/mod.rs
  src/error.rs
  src/hcp/configuration_versions/api.rs
  src/hcp/configuration_versions/commands.rs
  src/hcp/configuration_versions/mod.rs
  src/hcp/configuration_versions/models.rs
  src/hcp/mod.rs
  src/lib.rs
  src/main.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

feat: workspace configuration download (#36)
  Cargo.toml
  docs/src/CommandLineHelp.md
  src/cli/download.rs
  src/cli/mod.rs
  src/error.rs
  src/hcp/configuration_versions/api.rs
  src/hcp/configuration_versions/commands.rs
  src/hcp/configuration_versions/mod.rs
  src/hcp/configuration_versions/models.rs
  src/hcp/mod.rs
  src/lib.rs
  src/main.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

feat: warning & confirmation for lagrge scale data pulling that can result with self-DoS
  src/config.rs
  src/error.rs
  src/hcp/client.rs
  src/hcp/helpers.rs
  src/hcp/mod.rs
  src/hcp/workspaces/api.rs
  src/hcp/workspaces/commands.rs
  src/lib.rs
  src/main.rs
  src/ui/confirm.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

feat: warning & confirmation for lagrge scale data pulling that can result with self-DoS (#38)
  src/config.rs
  src/error.rs
  src/hcp/client.rs
  src/hcp/helpers.rs
  src/hcp/mod.rs
  src/hcp/workspaces/api.rs
  src/hcp/workspaces/commands.rs
  src/lib.rs
  src/main.rs
  src/ui/confirm.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

fix: updated help
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

fix: updated help (#40)
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

feat: batch mode for purge state
  Cargo.toml
  docs/src/CommandLineHelp.md
  src/cli/mod.rs
  src/cli/purge.rs
  src/hcp/state/commands.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

feat: batch mode for purge state (#42)
  Cargo.toml
  docs/src/CommandLineHelp.md
  src/cli/mod.rs
  src/cli/purge.rs
  src/hcp/state/commands.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

fix: missing --batch support in 'purge run'
  src/hcp/runs/commands.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

fix: missing --batch support in 'purge run' (#44)
  src/hcp/runs/commands.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

feat: add `set ws` command to assign workspace to project
  Cargo.toml
  docs/src/CommandLineHelp.md
  src/cli/mod.rs
  src/cli/set.rs
  src/hcp/client.rs
  src/hcp/mod.rs
  src/hcp/org_memberships/commands.rs
  src/hcp/projects/mod.rs
  src/hcp/projects/resolver.rs
  src/hcp/runs/commands.rs
  src/hcp/workspaces/commands.rs
  src/hcp/workspaces/mod.rs
  src/hcp/workspaces/set_api.rs
  src/hcp/workspaces/set_commands.rs
  src/lib.rs
  src/main.rs
  src/output/common.rs
  src/output/oauth_clients.rs
  src/output/org_memberships.rs
  src/output/organizations.rs
  src/output/projects.rs
  src/output/runs.rs
  src/output/teams.rs
  src/output/workspaces.rs
  src/ui/confirm.rs
  src/ui/mod.rs
  tests/cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-upgrade, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$, \.toml$
  cargo-check: any of: \.rs$, \.toml$
  cargo-upgrade: any of: \.rs$, \.toml$
  cargo-test: any of: \.rs$, \.toml$
